<div class="container">
  <section>
    <h1>Welcome to Summoners Rift!</h1>
    <h3>
      You have been called upon to take part in the most exciting challenge of
      your life: ending the endless conflicts in Valoran. The human nation of
      Demacia, the haunting empire of Noxus, and the inhabitants of every
      city-state look forward to this moment.
    </h3>
    <h3>
      For this there will be a tournament where the winner's kingdom will have
      the power to control everyone else in Valoran and we need you to develop a
      system to manage this tournament.
    </h3>
  </section>

  <button class="button" (click)="tournamentStart()">Start Tournament</button>
</div>
