<div class="match">
  <div
    [ngClass]="{
      team: true,
      win: winner === 0
    }"
  >
    <p>
      {{ match.length ? match[0]?.name : '-' }}
    </p>
    <ng-container *ngIf="match.length === 2">
      <button class="play" [disabled]="winner !== -1" (click)="isWinner(0)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M8 5v14l11-7z" />
        </svg>
      </button>
    </ng-container>
  </div>
  <hr />
  <div
    [ngClass]="{
      team: true,
      win: winner === 1
    }"
  >
    <p>
      {{ match.length === 2 ? match[1]?.name : '-' }}
    </p>
    <ng-container *ngIf="match.length === 2">
      <button class="play" [disabled]="winner !== -1" (click)="isWinner(1)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M8 5v14l11-7z" />
        </svg>
      </button>
    </ng-container>
  </div>
</div>
